body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    background-color: rgb(237, 241, 245);
  }
  
  /* Estilos para el menú */
  nav {
    background-color: #337ab7;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    margin-left: 20px;
  }
  
  nav a:hover {
    text-decoration:double;
  }
  
  a {
    color: white;
    text-decoration: none;
  }
  
  form {
    width: 50%;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
  }
  
  label {
    display: flex;
    width: 150px;
    text-align: right;
    align-items: center;
  }
  
  input[type="text"],
  input[type="email"],
  input[type="password"],
  select {
    width: 250px;
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  button[type="submit"] {
    background-color: #337ab7;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    justify-content: center;
  }
  
  #mensaje-correo {
    color: red;
    margin-bottom: 10px;
  }
  
  .btn {
    background-color: #337ab7;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: flex;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 3px;
    justify-content: center;
  }
  
  .social-media {
    margin-top: 10px;
  }
  
  .social-media a {
    color: #000; /* Color del texto */
    text-decoration: none;
    margin-right: 10px;
  }
  
  .social-media a i {
    margin-right: 5px;
  }
  
  /* Estilos para los iconos de las redes sociales */
  .social-media a i {
    font-size: 20px;
  }
  footer {
    background-color: #f2f2f2;
    padding: 10px 0;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
  }
  