body {
  font-family: Arial, sans-serif;
  font-size: 16px;
  background-color: rgb(237, 241, 245);
}
/* Estilos generales */
.col-md-4 {
  padding: 0 15px;
  margin-bottom: 30px;
  width: 33.3333%;
}
.product-image {
  max-width: 100px;
  max-height: 150px;
  margin: 0 auto;
}
.product-image-container {
  height: 150px;
}
.product-image-wrapper {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
  border: 2px #fff;
}
.table-centered {
  margin: 0 auto;
}
/* Estilos de la imagen */
.img-responsive {
  display: block;
  width: 100%;
  height: auto;
}

table.table-bordered {
  background-color: #fff;
}

/* Estilos del título */
h3 {
  font-size: 24px;
  margin-top: 10px;
  margin-bottom: 0;
}

/* Estilos del código */
p strong {
  display: inline-block;
  width: 70px;
  font-weight: bold;
  margin-right: 5px;
}

/* Estilos del botón */
.btn {
  background-color: 337ab7;
  color: #fff;
  border-color: #337ab7;
  padding: 5px 10px; /* Ajustar el padding para hacer los botones más pequeños */
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

.btn:hover {
  background-color: #337ab7;
  border-color: #337ab7;
}
.btn-buy {
  margin-right: 5px;
}

.menu {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 10px;
  background-color: #337ab7;
  border-radius: 3px;
}

.menu a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.menu a:hover {
  color: white;
}

/* Estilos generales del footer */
footer {
  background-color: #f2f2f2;
  padding: 20px;
}

.footer-content {
  text-align: center;
}

.footer-content p {
  margin: 5px 0;
}

.footer-content a {
  color: #333;
  text-decoration: none;
  margin: 0 10px;
}

/* Estilos para las redes sociales */
.social-media-link {
  color: #333;
  text-decoration: none;
  margin: 0 5px;
}

.social-media-link i {
  margin-right: 5px;
}

.contenido {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
}
